<headerbar>
  <span title>{{title}}</span>
</headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <form>
      <div fxLayout="row">
        <div fxFlex="49%">
          <md-form-field class="loyal-full-width">
            <input [(ngModel)]="model.card" name="card" mdInput placeholder="Loyalty Card Number" >
          </md-form-field>
        </div>
        <div fxFlexOffset=2% fxFlex=49%>
          <md-form-field class="loyal-full-width">
            <input [(ngModel)]="model.invoice" name="invoice" mdInput placeholder="Invoice Number" >
          </md-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="49%">
          <md-form-field class="loyal-full-width">
            <input [(ngModel)]="model.amountPaid" name="amount" mdInput placeholder="Amount Paid" >
          </md-form-field>
        </div>
        <div fxFlexOffset=2% fxFlex=49%>
          <md-form-field class="loyal-full-width">
            <input [(ngModel)]="model.date" name="date"  mdInput [mdDatepicker]="myDatepicker" placeholder="Date invoice Paid">
            <md-datepicker-toggle mdSuffix [for]="myDatepicker"></md-datepicker-toggle>
            <md-datepicker #myDatepicker></md-datepicker>
          </md-form-field>          
        </div>
      </div>
      <md-form-field class="loyal-full-width-height">
        <textarea mdTextareaAutosize [(ngModel)]="model.description" name="description" mdInput placeholder="Description"></textarea>
      </md-form-field>
    </form>
  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <md-card>
        <md-card-title>{{title}} Template Preview</md-card-title>
      <md-card-content>
        <md-form-field class="loyal-full-width-height">
          <textarea #loyalty mdInput mdTextareaAutosize readonly>Loyalty Card Number: {{model.card}}

Invoice Number: {{model.invoice}}

Date Invoice Paid: {{model.date | date: 'mediumDate'}}

Amount Paid: ${{model.amountPaid}}

Description: {{model.description}}
          </textarea>
        </md-form-field>
      </md-card-content>
      <md-card-actions>
        <button md-button [ngxClipboard]='loyalty'>COPY</button>
        <button md-button (click)='reset()'>CLEAR</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
