<headerbar>
    <span title>{{title}}</span>
  </headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <form #portForwarding="ngForm">
      <h4 class="mat-h4">1. What are the ports that you need forwarded and to what IP address or addresses?</h4>
      <table class="forward-full-width" cellspacing="2"><tr>
          <td><mat-form-field class="forward-full-width" id="ports">
            <input [(ngModel)]="model.ports" name="ports" matInput placeholder="Ports" >
          </mat-form-field></td>
          <td><mat-form-field class="forward-full-width" id="ipaddress">
            <input [(ngModel)]="model.ipaddress" name="ipaddress" matInput required placeholder="IP Address">
          </mat-form-field></td>
        </tr></table>
      <p>
        <mat-form-field class="forward-full-width">
          <textarea [(ngModel)]="model.dmz" name="dmz" matInput matTextareaAutosize placeholder="2. If it’s a DMZ request, what is the IP address that you need in the DMZ?"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="forward-full-width">
          <textarea [(ngModel)]="model.connectedONT" name="ONT" matInput matTextareaAutosize placeholder="3. Is the DVR directly connected to the ONT?"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="forward-full-width">
          <textarea [(ngModel)]="model.staticIP" name="staticIP" matInput matTextareaAutosize placeholder="4. If Yes to question 3, then did you set a static IP address on the DVR or is it DHCP?"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="forward-full-width">
          <textarea [(ngModel)]="model.router" name="router" matInput matTextareaAutosize placeholder="5. If No to question 3, then is it connected to a router or switch?"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="forward-full-width">
          <textarea [(ngModel)]="model.routerIP" name="routerIP" matInput matTextareaAutosize placeholder="6. If DVR is connected directly to a router, then we need the IP address of the router and the ports?"></textarea>
        </mat-form-field>
      </p>
    </form>
  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="forward-full-width">
          <textarea #forward matInput matTextareaAutosize readonly>What are the ports that you need forwarded and to what IP address or addresses?
Ports: {{model.ports}}    IP Address: {{ model.ipaddress }}

If it’s a DMZ request, what is the IP address that you need in the DMZ?
IP Address: {{ model.dmz }}

Is the DVR directly connected to the ONT?
{{ model.connectedONT }}

If Yes to question 3, then did you set a static IP address on the DVR or is it DHCP?
{{ model.staticIP }}

If No to question 3, then is it connected to a router or switch?
{{ model.router }}

If DVR is connected directly to a router, then we need the IP address of the router and the ports?
{{ model.routerIP }}
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='forward'>COPY</button>
        <button mat-button (click)="reset()">CLEAR</button>
      </mat-card-actions>
    </mat-card>

    <!-- <div fxLayout="row">
      <button mat-raised-button [ngxClipboard]='forward'>Copy</button>
      <div fxFlexOffset="5%">
        <button mat-raised-button (click)="reset()">Clear</button>
      </div>
    </div> -->
  </div>
</div>
