<headerbar>
    <span title>{{title}}</span>
  </headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <mat-select [(ngModel)]="model.internet" name="internet" placeholder="Is the Internet service affected?">
            <mat-option *ngFor="let option of options" [value]="option.value">{{ option.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <mat-select [(ngModel)]="model.iptv" name="iptv" placeholder="Is the IPTV service affected?">
            <mat-option *ngFor="let option of options" [value]="option.value">{{ option.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input [(ngModel)]="model.serial" name="serial" matInput placeholder="ONT Serial Number" >
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input matInput [(ngModel)]="model.date" name="date" [matDatepicker]="myDatepicker" placeholder="Date issue first surfaced?">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>        
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <mat-select multiple [(ngModel)]="model.profile" name="profile" placeholder="WAN Profiles">
            <mat-option *ngFor="let profile of profiles" [value]="profile.value">{{ profile.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <mat-select [(ngModel)]="model.routes" name="routes" placeholder="Routes on ONT?" >
            <mat-option *ngFor="let option of options" [value]="option.value">{{ option.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="technical-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.description" name="description" placeholder="Description of the issue"></textarea>
    </mat-form-field>
    <mat-form-field class="technical-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.steps" name="steps" placeholder="Steps taken to resolve the issue"></textarea>
    </mat-form-field>
    <mat-form-field class="technical-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.results" name="results" placeholder="Results of steps taken"></textarea>
    </mat-form-field>
    <mat-form-field class="technical-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.stb" name="stb" placeholder="STB MAC Information"></textarea>
    </mat-form-field>
    <mat-form-field class="technical-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.alarms" name="alarms" placeholder="Tableau / Alarm Analysis"></textarea>
    </mat-form-field>
    <mat-form-field class="technical-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.attachments" name="attachments" placeholder="Attachments (DLO/AMSLogs screenshots)"></textarea>
    </mat-form-field>
    <h4 class="mat-h4">Customer network setup details:</h4>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input [(ngModel)]="model.port1" name="port1" matInput placeholder="Port 1" >
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input [(ngModel)]="model.port2" name="port2" matInput placeholder="Port 2" >
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input [(ngModel)]="model.port3" name="port3" matInput placeholder="Port 3" >
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input [(ngModel)]="model.port4" name="port4" matInput placeholder="Port 4" >
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input [(ngModel)]="model.ghz24" name="ghz24" matInput placeholder="2.4 Ghz" >
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="technical-full-width">
          <input [(ngModel)]="model.ghz5" name="ghz5" matInput placeholder="5 Ghz" >
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="technical-full-width">
          <textarea #technical matInput matTextareaAutosize readonly>Is the Internet service affected?: {{model.internet}}

Is the IPTV service affected?: {{model.iptv}}

Description of the issue: {{model.description}}

Date when the issue first surfaced: {{model.date | date: 'mediumDate'}}

Steps taken to resolve the issue: {{model.steps}}

Results of the steps taken: {{model.results}}

ONT Serial Number: {{model.serial}}

STB MAC Information: {{model.stb}}

Routes on the ONT: {{model.routes}}

WAN Profiles: {{model.profile}}

Customer network setup details:
Port 1: {{model.port1}}
Port 2: {{model.port2}}
Port 3: {{model.port3}}
Port 4: {{model.port4}}
2.4 Ghz: {{model.ghz24}}
5 Ghz: {{model.ghz5}}

Tableau / Alarm Analysis: {{model.alarms}}

Attachments: {{model.attachments}}
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='technical'>COPY</button>
        <button mat-button (click)="reset()">CLEAR</button>
        <button mat-button [ngxClipboard]='pw'>NOTHING TO SEE HERE</button>
      </mat-card-actions>
    </mat-card>
    <div fxLayout="row">
      <div fxFlex="100%">
        
      </div>
      </div>
  </div>
</div>
<mat-form-field class="offscreen" aria-hidden=true>
  <input #pw name="card" matInput value={{password}} aria-hidden=true>
</mat-form-field>