<headerbar>
    <span title>{{title}}</span>
  </headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="retention-full-width">
          <input [(ngModel)]="model.existingPackage" name="package" matInput placeholder="Existing Package">
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="retention-full-width">
          <input [(ngModel)]="model.promotion" name="promotion" matInput placeholder="Promotion Applied" >
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="retention-full-width">
          <input [(ngModel)]="model.balance" name="balance" matInput placeholder="Outstanding Figure (from tableau)">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field class="retention-full-width">
          <textarea [(ngModel)]="model.reason" name="reason" matInput matTextareaAutosize placeholder="Reason for cancellation" ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field class="retention-full-width">
          <textarea [(ngModel)]="model.save" name="save" matInput matTextareaAutosize placeholder="TSP/CSP Save attempt" ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex matTooltip=" Please note any additional case created regarding a save attempt must be attached to the Retention parent case as a Child case.">
        <mat-form-field class="retention-full-width">
          <input [(ngModel)]="model.saveCase" name="saveCase" matInput placeholder="Case Number created due to save attempt" >
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="retention-full-width">
          <textarea #retention matInput matTextareaAutosize readonly>Existing Package: {{model.existingPackage}}

Promotion Applied: {{model.promotion}}

Outstanding figure (from tableau): {{model.balance}}

Reason for cancellation: {{model.reason}}

TSP/CSP Save attempt: {{model.save}}

Case Number created due to save attempt: {{model.saveCase}}
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='retention'>COPY</button>
        <button mat-button (click)="reset()">CLEAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
