<headerbar>
    <span title>{{title}}</span>
  </headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <div fxLayout="row" class="rebate-full-width">
      <div fxFlex="100%">
        <md-select [(ngModel)]="model.cycle" name="cycle" placeholder="Billing Cycle" class="rebate-full-width">
          <md-option *ngFor="let cycle of cycles" [value]="cycle.value">{{ cycle.value }}</md-option>
        </md-select>
      </div>
    </div>
    <br>
    <div fxLayout="row">
      <div fxFlex="49%">
        <md-form-field class="rebate-full-width">
          <input [(ngModel)]="model.servicePackage" name="package" mdInput placeholder="Package Subscribed" >
        </md-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <br>
        <md-select multiple [(ngModel)]="model.addons" name="addons" placeholder="Additonal Packages (Movies, etc)" class="rebate-full-width">
          <md-option *ngFor="let addon of addons" [value]="addon.name">{{ addon.name }}</md-option>
        </md-select>
      </div>
    </div>
    <br>
    <div fxLayout="row">
      <div fxFlex="49%">
        <md-select [(ngModel)]="model.stb" name="stb" placeholder="Additonal STB (8083)" class="rebate-full-width">
          <md-option *ngFor="let index of count" [value]="index">{{ index }}</md-option>
        </md-select>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <md-select [(ngModel)]="model.pvr" name="pvr" placeholder="Additonal PVR (9000)" class="rebate-full-width">
          <md-option *ngFor="let index of count" [value]="index">{{ index }}</md-option>
        </md-select>
      </div>
    </div>
    <br>
    <div fxLayout="row">
      <div fxFlex="49%">
        <md-form-field class="rebate-full-width">
          <input [(ngModel)]="model.invoice" name="invoice" mdInput placeholder="Bill Invoice" >
        </md-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <md-form-field class="rebate-full-width">
          <input [(ngModel)]="model.amount" name="amount" mdInput placeholder="Bill Amount" >
        </md-form-field>
      </div>
    </div>
    <md-form-field class="rebate-full-width">
      <textarea mdInput mdTextareaAutosize [(ngModel)]="model.description" name="description" placeholder="Description of the issue"></textarea>
    </md-form-field>
    <md-form-field class="rebate-full-width">
      <textarea mdInput mdTextareaAutosize [(ngModel)]="model.rebate" name="rebate" placeholder="Rebate Calculations"></textarea>
    </md-form-field>

  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <md-card>
      <md-card-title>{{title}} Template Preview</md-card-title>
      <md-card-content>
        <md-form-field class="rebate-full-width">
          <textarea #rebate mdInput mdTextareaAutosize readonly>Existing Package: {{model.servicePackage}}

Additional Boxes (8083): {{model.stb}}

Additional Boxes (9000): {{model.pvr}}

Additional Packages (movie etc):{{model.addons}}

Bill Cycle: {{model.cycle}}

Bill Amount: {{model.amount}}

Invoice Number: {{model.invoice}}

Description of the issue: {{model.description}}

Rebate Calculation done by professional: {{model.rebate}}
          </textarea>
        </md-form-field>
      </md-card-content>
      <md-card-actions>
        <button md-button [ngxClipboard]='rebate'>COPY</button>
        <button md-button (click)='reset()'>CLEAR</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
