<headerbar>
    <span title>{{title}}</span>
  </headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <div fxLayout="row" class="rebate-full-width">
      <div fxFlex="100%">
        <mat-form-field class="rebate-full-width">
          <mat-select [(ngModel)]="model.cycle" name="cycle" placeholder="Billing Cycle">
            <mat-option *ngFor="let cycle of cycles" [value]="cycle.value">{{ cycle.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="rebate-full-width">
          <input [(ngModel)]="model.servicePackage" name="package" matInput placeholder="Package Subscribed" >
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="rebate-full-width">
          <mat-select multiple [(ngModel)]="model.addons" name="addons" placeholder="Additonal Packages (Movies, etc)">
            <mat-option *ngFor="let addon of addons" [value]="addon.name">{{ addon.name }}</mat-option>
          </mat-select>
      </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="rebate-full-width">
          <mat-select [(ngModel)]="model.stb" name="stb" placeholder="Additonal STB (8083)">
            <mat-option *ngFor="let index of count" [value]="index">{{ index }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="rebate-full-width">
          <mat-select [(ngModel)]="model.pvr" name="pvr" placeholder="Additonal PVR (9000)">
            <mat-option *ngFor="let index of count" [value]="index">{{ index }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="49%">
        <mat-form-field class="rebate-full-width">
          <input [(ngModel)]="model.invoice" name="invoice" matInput placeholder="Bill Invoice" >
        </mat-form-field>
      </div>
      <div fxFlexOffset="2%" fxFlex="49%">
        <mat-form-field class="rebate-full-width">
          <input [(ngModel)]="model.amount" name="amount" matInput placeholder="Bill Amount" >
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="rebate-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.description" name="description" placeholder="Description of the issue"></textarea>
    </mat-form-field>
    <mat-form-field class="rebate-full-width">
      <textarea matInput matTextareaAutosize [(ngModel)]="model.rebate" name="rebate" placeholder="Rebate Calculations"></textarea>
    </mat-form-field>

  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="rebate-full-width">
          <textarea #rebate matInput matTextareaAutosize readonly>Existing Package: {{model.servicePackage}}

Additional Boxes (8083): {{model.stb}}

Additional Boxes (9000): {{model.pvr}}

Additional Packages (movie etc):{{model.addons}}

Bill Cycle: {{model.cycle}}

Bill Amount: {{model.amount}}

Invoice Number: {{model.invoice}}

Description of the issue: {{model.description}}

Rebate Calculation done by professional: {{model.rebate}}
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='rebate'>COPY</button>
        <button mat-button (click)='reset()'>CLEAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
