<div>
  <h1 mat-dialog-title>Contact List</h1>
</div>
<mat-dialog-content>
  <br>
  <mat-accordion class="headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact Centre
        </mat-panel-title>
        <mat-panel-description>
          Hunt: 5301
          <mat-icon>contacts</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <h3 mat-subheader>Leaders</h3>
        <mat-list-item *ngFor="let person of contactCentreLeaders">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <h4 mat-line>{{person.employeeName}}</h4>
          <p mat-line>Extension: {{person.extension}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Senior Technical Support Professionals</h3>
        <mat-list-item *ngFor="let person of seniorTSP">
          <mat-icon mat-list-icon>build</mat-icon>
          <h4 mat-line>{{person.employeeName}}</h4>
          <p mat-line>Extension: {{person.extension}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Technical Support Professionals</h3>
        <mat-list-item *ngFor="let person of tsp">
          <mat-icon mat-list-icon>build</mat-icon>
          <h4 mat-line>{{person.employeeName}}</h4>
          <p mat-line>Extension: {{person.extension}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Customer Support Professionals</h3>
        <mat-list-item *ngFor="let person of csp">
          <mat-icon mat-list-icon>face</mat-icon>
          <h4 mat-line>{{person.employeeName}}</h4>
          <p mat-line>Extension: {{person.extension}}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dispatch
        </mat-panel-title>
        <mat-panel-description>
          Hunt: 1999
          <mat-icon>local_shipping</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <h3 mat-subheader>Dispatchers</h3>
        <mat-list-item *ngFor="let person of dispatch">
            <mat-icon mat-list-icon>local_shipping</mat-icon>
            <h4 mat-line>{{person.employeeName}}</h4>
            <p mat-line>Extension: {{person.extension}}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Finance & Accounting  
        </mat-panel-title>
        <mat-panel-description>
          <hr>
        <mat-icon>account_balance</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let person of finance">
          <mat-icon mat-list-icon>account_balance</mat-icon>
          <h4 mat-line>{{person.employeeName}}</h4>
          <p mat-line>{{person.position}}</p>
          <p mat-line>Extension: {{person.extension}}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Human Resources
          </mat-panel-title>
          <mat-panel-description>
            <hr>
          <mat-icon>people</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let person of hr">
            <mat-icon mat-list-icon>people</mat-icon>
            <h4 mat-line>{{person.employeeName}}</h4>
            <p mat-line>{{person.position}}</p>
            <p mat-line>Extension: {{person.extension}}</p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            I.T
          </mat-panel-title>
          <mat-panel-description>
            <hr>
            <mat-icon>computer</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item *ngFor="let person of it">
              <mat-icon mat-list-icon>computer</mat-icon>
              <h4 mat-line>{{person.employeeName}}</h4>
              <p mat-line>Extension: {{person.extension}}</p>
            </mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Miscellaneous
            </mat-panel-title>
            <mat-panel-description>
              <hr>
            <!-- <mat-icon>settings</mat-icon> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let person of misc">
              <!-- <mat-icon mat-list-icon>build</mat-icon> -->
              <h4 mat-line>{{person.employeeName}}</h4>
              <p mat-line>{{person.position}}</p>
              <p mat-line>Extension: {{person.extension}}</p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          NOC
        </mat-panel-title>
        <mat-panel-description>
          <hr>
        <mat-icon>settings</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let person of noc">
          <mat-icon mat-list-icon>build</mat-icon>
          <h4 mat-line>{{person.employeeName}}</h4>
          <p mat-line>Extension: {{person.extension}}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sales (Executive)
        </mat-panel-title>
        <mat-panel-description>
          <hr>
          <mat-icon>business</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
          <mat-list-item *ngFor="let person of salesExecutive">
            <mat-icon mat-list-icon>business</mat-icon>
            <h4 mat-line>{{person.employeeName}}</h4>
            <p mat-line>Extension: {{person.extension}}</p>
          </mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sales (Residential)
        </mat-panel-title>
        <mat-panel-description>
          Hunt: 1499
          <mat-icon>shopping_cart</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
          <mat-list-item *ngFor="let person of salesResidential">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <h4 mat-line>{{person.employeeName}}</h4>
            <p mat-line>Extension: {{person.extension}}</p>
          </mat-list-item>
        </mat-list>
    </mat-expansion-panel>

  </mat-accordion>
  <br>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>