<headerbar>
    <span title>{{title}}</span>
  </headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <form>
      <div fxLayout="row">
        <div fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <mat-select [(ngModel)]="model.cycle" name="cycle" placeholder="Billing Cycle">
              <mat-option *ngFor="let cycle of cycles" [value]="cycle.value">{{ cycle.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlexOffset="2%" fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <input [(ngModel)]="model.area" name="area" matInput placeholder="Area Customer is moving to" >
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <input [(ngModel)]="model.oldPackage" name="oldPackage" matInput placeholder="Existing Package" [matAutocomplete]="existing">
            <mat-autocomplete #existing="matAutocomplete">
                <mat-option *ngFor="let package of packages" [value]="package.name">{{ package.name }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxFlexOffset="2%" fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <mat-select multiple [(ngModel)]="model.oldAddons" name="oldAddons" placeholder="Add-on Packages">
              <mat-option *ngFor="let addon of addons" [value]="addon.name">{{ addon.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="49%">
          <!-- <mat-form-field class="relocation-full-width">
            <input [(ngModel)]="model.newPackage" name="newPackage" matInput placeholder="New Package Requested" >
          </mat-form-field> -->
          <mat-form-field class="relocation-full-width">
            <input [(ngModel)]="model.newPackage" name="newPackage" matInput placeholder="New Package Requested" [matAutocomplete]="requested">
            <mat-autocomplete #requested="matAutocomplete">
                <mat-option *ngFor="let package of packages" [value]="package.name">{{ package.name }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxFlexOffset="2%" fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <mat-select multiple [(ngModel)]="model.newAddons" name="newAddons" placeholder="Add-on Packages">
              <mat-option *ngFor="let addon of addons" [value]="addon.name">{{ addon.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <input matInput [(ngModel)]="model.installDate" name="installdate" [matDatepicker]="installDatepicker" placeholder="Installation Date?">
            <mat-datepicker-toggle matSuffix [for]="installDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #installDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlexOffset="2%" fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <input matInput [(ngModel)]="model.removalDate" name="removaldate" [matDatepicker]="myDatepicker" placeholder="Removal Date">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <input [(ngModel)]="model.bundle" name="bundle" matInput placeholder="Bundle to be cancelled" >
          </mat-form-field>
        </div>
        <div fxFlexOffset="2%" fxFlex="49%">
          <mat-form-field class="relocation-full-width">
            <mat-select [(ngModel)]="model.rebate" name="rebate" placeholder="Rebate Needed?">
              <mat-option *ngFor="let option of options" [value]="option.value">{{ option.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div fxLayout="row">
          <mat-form-field class="relocation-full-width">
            <textarea matInput matTextareaAutosize [(ngModel)]="model.calculation" name="calculation" placeholder="Rebate Calculation"></textarea>
          </mat-form-field>
      </div>
      <br>
      <div fxLayout="row">
        <mat-form-field class="relocation-full-width">
          <input [(ngModel)]="model.amount" name="amount" matInput placeholder="Rebate" >
        </mat-form-field>
      </div>
      <br>
      <div fxLayout="row">
        <mat-form-field class="relocation-full-width">
          <textarea matInput matTextareaAutosize [(ngModel)]="model.info" name="info" placeholder="Any Additional Info"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="relocation-full-width">
          <textarea #relocation matInput matTextareaAutosize readonly>Bill Cycle: {{model.cycle}}

Area Customer Is Moving To: {{model.area}}

Existing Package: {{model.oldPackage}}

Add-on Packages: {{model.oldAddons}}

New Package Requested: {{model.newPackage}}

Add-on Packages: {{model.newAddons}}

Date for new install: {{model.installDate | date: 'mediumDate'}}

Requested Date for removal: {{model.removalDate | date: 'mediumDate'}}

Bundle Number to cancelled: {{model.bundle}}

Rebate Needed: {{model.rebate}}

Rebate Calculation: {{model.calculation}}

Rebate Needed: {{model.amount}}

Any additional information: {{model.info}}
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='relocation'>COPY</button>
        <button mat-button (click)="reset()">CLEAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
