<headerbar>
    <span title>{{title}}</span>
  </headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">
    <div fxLayout="column">      
      <div fxLayout="column">
        <h4 class="mat-h4">Does the ONT have the latest software 3FE56773AFHA98?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.software">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Is the xml file on the ONT (seen on AMS as SN.xml)?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.xml">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Is the preconfig file on the ONT (PREMASSY004)?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.preconfig">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Is the POTs port created on the AMS?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.pots">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Is a mac address learned under the virtual UNI?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.mac">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Is a DHCP IP assigned?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.dhcp">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Is the phone connected to TEL1?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.tel1">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <mat-form-field>
        <textarea [(ngModel)]="model.handset" matInput placeholder="What is seen on the handset?" matTextareaAutosize></textarea>
      </mat-form-field>      
      <div fxLayout="column">
        <h4 class="mat-h4">Is the phone number registered on the ONT GUI?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.registered">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <mat-form-field>
        <textarea [(ngModel)]="model.make" matInput placeholder="Could the customer make calls from the phone?" matTextareaAutosize></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea [(ngModel)]="model.receive" matInput placeholder="Could the customer receive calls on the phone?" matTextareaAutosize></textarea>
      </mat-form-field>
      <div fxLayout="column">
        <h4 class="mat-h4">Is the customer listed as DUNNED?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.dunned">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Was the Virtual UNI Locked and Unlocked?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.uni">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div fxLayout="column">
        <h4 class="mat-h4">Was the VOIP Service Locked and Unlocked?</h4>
        <mat-radio-group class="voice-radio-group" [(ngModel)]="model.voip">
          <mat-radio-button class="voice-radio-button" *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
    </div>
  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="tech-voice-full-width">
          <textarea #security matInput matTextareaAutosize readonly>1. Does the ONT have the latest software 3FE56773AFHA98?: {{model.software}}

2. Is the xml file on the ONT (seen on AMS as SN.xml)?: {{model.xml}}

3. Is the preconfig file on the ONT (PREMASSY004)?: {{model.preconfig}}

4. Is the POTs port created on the AMS?: {{model.pots}}

5. Is a mac address learned under the virtual UNI?: {{model.mac}}

6. Is a DHCP IP assigned?: {{model.dhcp}}

7. Is the phone connected to TEL1?: {{model.tel1}}

8. What is seen on the handset?: {{model.handset}}

9. Is the phone number registered on the ONT GUI?: {{model.registered}}

10. Could the customer make calls from the phone?: {{model.make}}

11. Could the customer receive calls on the phone?: {{model.receive}}

12. Is the customer listed as DUNNED?: {{model.dunned}}

13. Was the Virtual UNI Locked and Unlocked?: {{model.uni}}

14. Was the VOIP Service Locked and Unlocked?: {{model.voip}}</textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='security'>COPY</button>
        <button mat-button (click)="reset()">CLEAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>