
.tech-voice-full-width {
  width: 100%;
}

.voice-tab-content {
  padding: 16px;
}

voice-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.voice-radio-button {
  /* width: 80%; */
  margin-right: 35px;
}

.voice-selected-value {
  margin: 50px 0;
}