<md-toolbar color="primary">
  <ng-content select="[title]"></ng-content>
  <span class="toolbar-spacer"></span>
  
  <button md-icon-button [routerLink]="['/home']">
    <md-icon>home</md-icon>  
  </button>

  <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="feederMap()">
        <md-icon>place</md-icon>
        <span>Feeder Map</span>
      </button>
      <button md-menu-item (click)="surepayMap()">
        <md-icon>place</md-icon>
        <span>Surepay Map</span>
      </button>
      <button md-menu-item (click)="openDialog()">
        <md-icon>account_circle</md-icon>
        <span>Contact List</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>monetization_on</md-icon>
        <span>Bundle Calculator</span>
      </button>
    </md-menu>  
</md-toolbar>
